*{    
    /* background:black;  */
    font-family: Roboto,Helvetica, sans-serif;
}
p{
    color: whitesmoke;
}
.wrapper{
    display:grid;
    grid-template-rows: 25% 25% auto;
    
}
.d-block > img{
    background-size: cover;
}

 .carousel-inner > .carousel-item > img{
    height: 90vh; 
} 
.wrapper > nav >ul {
    display: inline-grid;
    color: whitesmoke;
    padding: 1%;
    
}

.material-icons {
    color: whitesmoke;
    /* padding: 1%; */
    /* padding-top:1px;  */
    display: none;
}
.flex{
    margin:10px;
    padding-top:10px;
    display: flex;
    justify-content: space-evenly;
    
}
.div1{
    padding: 5%;
    background-color: whitesmoke;
}

.div2{
    padding: 5%;
    background-color: darkslategrey;
}

.div3{
    padding: 5%;
    background-color:grey;
}

.div4{
    padding: 5%;
    background-color: whitesmoke;
}

.div5{
    padding: 5%;
    background-color: darkslategrey;
}

.div6{
    padding: 5%;
    background-color: grey;
}
.line{
    display: inline-grid;
    background-color: rgb(150, 236, 232);
}
.grid{
    margin: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    display:grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1em;
    width:auto;
}

#d1{
    padding: 5%;
    background-color: rgba(150, 126, 170, 0.603);
}

#d2{
    padding: 5%;
    background-color:blanchedalmond;     
}

#d3{
    padding: 5%;
    background-color:blanchedalmond;
}

#d4{
    padding: 5%;
    background-color: grey;
}

#d5{
    padding: 5%;
    background-color: grey;
}

#d6{
    padding: 5%;
    background-color: darkslategrey;
}

.row{
    display:grid;
    grid-template-columns: 1fr 1fr;
    border:red;
}
.row > .col-sm-6{
    color: whitesmoke;
}
.footer > .social-media-icons   {
    
    color: whitesmoke;
}